In [1]:
import json
import pandas as pd
import os
import numpy as np
import logging

from sklearn import preprocessing

In [2]:
import sys
print sys.executable

/Users/manrajsingh/virtualenvs/ds/bin/python

## Get Data from JSON to DataFrame

In [3]:
DATA_DIR = 'data'

In [ ]:
with open(os.path.join(DATA_DIR, 'train_data.json'), 'r') as data:
    data_train = json.load(data)

df_train = pd.DataFrame.from_dict(data_train, orient='index')
df_train = df_train.reset_index()
df_train = df_train.rename(columns = {'index':'id'})
df_train.shape

In [ ]:
df_train.head()

In [ ]:
with open(os.path.join(DATA_DIR, 'test_data.json'), 'r') as data:
    data_test = json.load(data)

df_test = pd.DataFrame.from_dict(data_test, orient='index')
df_test = df_test.reset_index()
df_test = df_test.rename(columns = {'index':'id'})
df_test.shape

In [ ]:
df_test.head()

## Feature Engineering

#### Total time spent watching on HotStar

In [ ]:
def time_calc(row):
    titles = row['titles'].strip()
    if len(titles) == 0:
        row['time_spent'] = 0
    else:
        title_list = titles.split(',')
        times = [int(title.split(':')[-1]) for title in title_list]
        row['time_spent'] = sum(times)
    return row

df_train['time_spent'] = None
df_test['time_spent'] = None

df_train = df_train.apply(
    time_calc, axis=1
)

df_test = df_test.apply(
    time_calc, axis=1
)

df_train.head()

#### Get genres in separate columns

In [ ]:
unique_genres = []

def get_label(label):
    return label + '_genre'

def get_genres(row):
    if len(row['genres']) == 0:
        return []

    genres_list = row['genres'].split(',')
    genres = [(genre.split(':')[0], genre.split(':')[1]) for genre in genres_list]
    return genres

def extract_genres(row):
    genres = get_genres(row)
    genre_labels = [genre[0] for genre in genres]
    unique_genres.extend(genre_labels)
    return row

df_train = df_train.apply(
    extract_genres, axis=1
)

df_test = df_test.apply(
    extract_genres, axis=1
)

unique_genres = list(set(unique_genres))

for genre in unique_genres:
    df_train[get_label(genre)] = None
    df_test[get_label(genre)] = None


def add_genre_features(row):
    genres = get_genres(row)
    for genre in genres:
        row[get_label(genre[0])] = genre[1]
    
    return row

df_train = df_train.apply(
    add_genre_features, axis=1
)

df_test = df_test.apply(
    add_genre_features, axis=1
)

df_train.head()

In [ ]:
def change_datatype(df):
    for column in df.columns:
        if '_genre' in column:
            df[column] = df[column].astype('float64')
    
    return df

df_train = change_datatype(df_train)
df_test = change_datatype(df_test)

df_train.head()

#### Extract counts

In [ ]:
labels = ['genres', 'titles', 'cities', 'dow', 'tod']

def get_list(row, key):
    if len(row[key]) == 0:
        return []

    elements = row[key].split(',')
    result = [(elem.split(':')[0], elem.split(':')[1]) for elem in elements]
    return result

def extract_count(row, key):
    count_list = get_list(row, key)
    row[key + '_count'] = len(count_list)
    return row

for label in labels:
    df_train = df_train.apply(
        extract_count, args=(label,), axis=1
    )

    df_test = df_test.apply(
        extract_count, args=(label,), axis=1
    )

df_train.head()

#### Does watch genre encoder

In [ ]:
df_train.loc[:, 'watch_cricket'] = df_train.apply(
    lambda row: 1 if 'cricket' in row['genres'].lower() else 0, axis=1
)

df_test.loc[:, 'watch_cricket'] = df_test.apply(
    lambda row: 1 if 'cricket' in row['genres'].lower() else 0, axis=1
)

df_train.loc[:, 'watch_drama'] = df_train.apply(
    lambda row: 1 if 'drama' in row['genres'].lower() else 0, axis=1
)

df_test.loc[:, 'watch_drama'] = df_test.apply(
    lambda row: 1 if 'drama' in row['genres'].lower() else 0, axis=1
)

df_train.loc[:, 'watch_romance'] = df_train.apply(
    lambda row: 1 if 'romance' in row['genres'].lower() else 0, axis=1
)

df_test.loc[:, 'watch_romance'] = df_test.apply(
    lambda row: 1 if 'romance' in row['genres'].lower() else 0, axis=1
)

df_train.loc[:, 'watch_family'] = df_train.apply(
    lambda row: 1 if 'family' in row['genres'].lower() else 0, axis=1
)

df_test.loc[:, 'watch_family'] = df_test.apply(
    lambda row: 1 if 'family' in row['genres'].lower() else 0, axis=1
)

df_train.head()

##### Does watch hour

In [ ]:
def add_columns(df):
    for i in xrange(1, 24, 1):
        df['watch_hour_sum_' + str(i)] = None
    
    return df

def does_watch_hour(row):
    elements = row['tod'].split(',')
    result = [(elem.split(':')[0], elem.split(':')[1]) for elem in elements]

    for (key, val) in result:
        row['watch_hour_sum_' + key] = val
    
    return row

df_train = add_columns(df_train)
df_test = add_columns(df_test)

df_train = df_train.apply(
    does_watch_hour, axis=1
)

df_test = df_test.apply(
    does_watch_hour, axis=1
)

df_train.head()

In [ ]:
df_test.head()

In [ ]:
for column in df_test.columns:
    print column

In [ ]:
def change_datatype(df):
    for column in df.columns:
        if 'watch_hour_sum_' in column:
            df[column] = df[column].astype('float64')
    
    return df

df_train = change_datatype(df_train)
df_test = change_datatype(df_test)

df_train.head()

#### Does watch day

In [ ]:
def add_columns(df):
    for i in xrange(1, 8, 1):
        df['watch_day_sum_' + str(i)] = None
    
    return df

def does_watch_day(row):
    elements = row['dow'].split(',')
    result = [(elem.split(':')[0], elem.split(':')[1]) for elem in elements]

    for (key, val) in result:
        row['watch_day_sum_' + key] = val

    return row

df_train = add_columns(df_train)
df_test = add_columns(df_test)

df_train = df_train.apply(
    does_watch_day, axis=1
)

df_test = df_test.apply(
    does_watch_day, axis=1
)

df_train.head()

In [ ]:
df_test.head()

In [ ]:
def change_datatype(df):
    for column in df.columns:
        if 'watch_day_sum' in column:
            df[column] = df[column].astype('float64')
    
    return df

df_train = change_datatype(df_train)
df_test = change_datatype(df_test)

df_train.head()

#### Label Encoder

In [ ]:
def label_encoder(df, key):
    label = preprocessing.LabelEncoder()
    label.fit(list(df[key].values))
    df[key + '_encoded'] = label.transform(list(df[key].values))
    return df

df_train = label_encoder(df_train, 'segment')

df_train.head()

In [ ]:
df_train.to_csv(
    os.path.join(DATA_DIR, 'fe_train_data_with_sum.csv'),
    index=False
)

df_test.to_csv(
    os.path.join(DATA_DIR, 'fe_test_data_with_sum.csv'),
    index=False
)

#### Constants and display options

In [4]:
RANDOM_STATE = 1234
DATA_DIR = 'data'
pd.options.display.precision = 20

#### Imports

In [5]:
from sklearn import preprocessing

#### Read feature engineered data

In [6]:
df_train = pd.read_csv(
    os.path.join(DATA_DIR, 'fe_train_data_with_sum.csv'),
    sep=','
)

df_test = pd.read_csv(
    os.path.join(DATA_DIR, 'fe_test_data_with_sum.csv'),
    sep=','
)

#### Drop unwanted columns

In [7]:
df_train_dropped = df_train.drop(['genres', 'titles', 'cities', 'segment', 'dow', 'tod'], axis=1, errors='ignore')
df_test_dropped = df_test.drop(['genres', 'titles', 'cities', 'segment', 'dow', 'tod', 'segment_encoded'], axis=1, errors='ignore')

df_train_dropped.head()

,Action_genre,Athletics_genre,Awards_genre,Badminton_genre,Boxing_genre,Comedy_genre,Cricket_genre,Crime_genre,Documentary_genre,Drama_genre,...,watch_hour_sum_8,watch_hour_sum_9,watch_day_sum_1,watch_day_sum_2,watch_day_sum_3,watch_day_sum_4,watch_day_sum_5,watch_day_sum_6,watch_day_sum_7,segment_encoded
0,NaN,NaN,NaN,NaN,NaN,NaN,82379.0,NaN,NaN,NaN,...,NaN,NaN,3412.0,1737.0,15878.0,20974.0,10975.0,16580.0,17820.0,0
1,NaN,NaN,NaN,NaN,NaN,NaN,15640.0,NaN,NaN,NaN,...,241.0,374.0,5745.0,3346.0,3025.0,3007.0,123.0,10.0,1108.0,0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,4142.0,NaN,NaN,NaN,NaN,0
3,NaN,NaN,NaN,NaN,NaN,NaN,7690.0,NaN,NaN,NaN,...,658.0,NaN,658.0,NaN,5867.0,1339.0,413.0,NaN,71.0,0
4,NaN,NaN,NaN,NaN,NaN,NaN,3283.0,NaN,NaN,5503.0,...,NaN,NaN,1641.0,480.0,NaN,1445.0,NaN,4900.0,1663.0,0

In [8]:
df_test_dropped.head()

,Action_genre,Athletics_genre,Awards_genre,Badminton_genre,Boxing_genre,Comedy_genre,Cricket_genre,Crime_genre,Documentary_genre,Drama_genre,...,watch_hour_sum_7,watch_hour_sum_8,watch_hour_sum_9,watch_day_sum_1,watch_day_sum_2,watch_day_sum_3,watch_day_sum_4,watch_day_sum_5,watch_day_sum_6,watch_day_sum_7
0,NaN,NaN,NaN,NaN,NaN,NaN,702.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,182.0,NaN,701.0,NaN,NaN,NaN
1,3501.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,4830.0,8359.0,3078.0,4185.0,2946.0,NaN,451.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,508.0,5409.0,740.0,NaN,1162.0,NaN,3807.0,2755.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6459.0,...,NaN,NaN,NaN,3227.0,NaN,2043.0,NaN,NaN,NaN,1464.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1204.0,...,NaN,NaN,NaN,1204.0,NaN,NaN,NaN,NaN,NaN,NaN

### Train the model

In [9]:
import xgboost as xgb
from sklearn.model_selection import train_test_split

X = df_train_dropped.copy()
y = df_train_dropped['segment_encoded'].copy()

del X['id']
del X['segment_encoded']

X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 72 columns):
Action_genre          35998 non-null float64
Athletics_genre       244 non-null float64
Awards_genre          11611 non-null float64
Badminton_genre       6570 non-null float64
Boxing_genre          26 non-null float64
Comedy_genre          46808 non-null float64
Cricket_genre         114205 non-null float64
Crime_genre           22829 non-null float64
Documentary_genre     872 non-null float64
Drama_genre           98337 non-null float64
Family_genre          43543 non-null float64
Football_genre        7466 non-null float64
Formula1_genre        373 non-null float64
FormulaE_genre        33 non-null float64
Hockey_genre          1534 non-null float64
Horror_genre          6585 non-null float64
IndiaVsSa_genre       1 non-null float64
Kabaddi_genre         936 non-null float64
Kids_genre            4906 non-null float64
LiveTV_genre          28353 non-null float64
Mythology_genre       12512 non-null float64
NA_genre              12 non-null float64
Reality_genre         58422 non-null float64
Romance_genre         71407 non-null float64
Science_genre         1781 non-null float64
Sport_genre           6045 non-null float64
Swimming_genre        5 non-null float64
Table Tennis_genre    205 non-null float64
TalkShow_genre        50366 non-null float64
Teen_genre            2064 non-null float64
Tennis_genre          274 non-null float64
Thriller_genre        23511 non-null float64
Travel_genre          4148 non-null float64
Volleyball_genre      27 non-null float64
Wildlife_genre        3875 non-null float64
cities_count          200000 non-null int64
dow_count             200000 non-null int64
genres_count          200000 non-null int64
time_spent            200000 non-null int64
titles_count          200000 non-null int64
tod_count             200000 non-null int64
watch_hour_sum_0      57545 non-null float64
watch_hour_sum_1      38082 non-null float64
watch_hour_sum_10     67448 non-null float64
watch_hour_sum_11     73557 non-null float64
watch_hour_sum_12     76687 non-null float64
watch_hour_sum_13     84414 non-null float64
watch_hour_sum_14     89293 non-null float64
watch_hour_sum_15     92017 non-null float64
watch_hour_sum_16     95548 non-null float64
watch_hour_sum_17     90040 non-null float64
watch_hour_sum_18     91493 non-null float64
watch_hour_sum_19     99523 non-null float64
watch_hour_sum_2      25467 non-null float64
watch_hour_sum_20     105732 non-null float64
watch_hour_sum_21     106839 non-null float64
watch_hour_sum_22     101349 non-null float64
watch_hour_sum_23     85479 non-null float64
watch_hour_sum_3      17151 non-null float64
watch_hour_sum_4      12720 non-null float64
watch_hour_sum_5      13427 non-null float64
watch_hour_sum_6      20100 non-null float64
watch_hour_sum_7      30283 non-null float64
watch_hour_sum_8      40007 non-null float64
watch_hour_sum_9      56426 non-null float64
watch_day_sum_1       115826 non-null float64
watch_day_sum_2       112601 non-null float64
watch_day_sum_3       117451 non-null float64
watch_day_sum_4       127420 non-null float64
watch_day_sum_5       122205 non-null float64
watch_day_sum_6       123738 non-null float64
watch_day_sum_7       122773 non-null float64
dtypes: float64(66), int64(6)
memory usage: 109.9 MB

In [10]:
df_test_dropped.head()

,Action_genre,Athletics_genre,Awards_genre,Badminton_genre,Boxing_genre,Comedy_genre,Cricket_genre,Crime_genre,Documentary_genre,Drama_genre,...,watch_hour_sum_7,watch_hour_sum_8,watch_hour_sum_9,watch_day_sum_1,watch_day_sum_2,watch_day_sum_3,watch_day_sum_4,watch_day_sum_5,watch_day_sum_6,watch_day_sum_7
0,NaN,NaN,NaN,NaN,NaN,NaN,702.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,182.0,NaN,701.0,NaN,NaN,NaN
1,3501.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,4830.0,8359.0,3078.0,4185.0,2946.0,NaN,451.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,508.0,5409.0,740.0,NaN,1162.0,NaN,3807.0,2755.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6459.0,...,NaN,NaN,NaN,3227.0,NaN,2043.0,NaN,NaN,NaN,1464.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1204.0,...,NaN,NaN,NaN,1204.0,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
import xgboost as xgb
from hyperopt import hp
from hyperopt import fmin, tpe, hp, STATUS_OK, Trials
from sklearn.metrics import log_loss, roc_auc_score, precision_recall_fscore_support, accuracy_score, f1_score

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=RANDOM_STATE)

In [12]:
for column in X_train.columns:
    print column

Action_genre
Athletics_genre
Awards_genre
Badminton_genre
Boxing_genre
Comedy_genre
Cricket_genre
Crime_genre
Documentary_genre
Drama_genre
Family_genre
Football_genre
Formula1_genre
FormulaE_genre
Hockey_genre
Horror_genre
IndiaVsSa_genre
Kabaddi_genre
Kids_genre
LiveTV_genre
Mythology_genre
NA_genre
Reality_genre
Romance_genre
Science_genre
Sport_genre
Swimming_genre
Table Tennis_genre
TalkShow_genre
Teen_genre
Tennis_genre
Thriller_genre
Travel_genre
Volleyball_genre
Wildlife_genre
cities_count
dow_count
genres_count
time_spent
titles_count
tod_count
watch_hour_sum_0
watch_hour_sum_1
watch_hour_sum_10
watch_hour_sum_11
watch_hour_sum_12
watch_hour_sum_13
watch_hour_sum_14
watch_hour_sum_15
watch_hour_sum_16
watch_hour_sum_17
watch_hour_sum_18
watch_hour_sum_19
watch_hour_sum_2
watch_hour_sum_20
watch_hour_sum_21
watch_hour_sum_22
watch_hour_sum_23
watch_hour_sum_3
watch_hour_sum_4
watch_hour_sum_5
watch_hour_sum_6
watch_hour_sum_7
watch_hour_sum_8
watch_hour_sum_9
watch_day_sum_1
watch_day_sum_2
watch_day_sum_3
watch_day_sum_4
watch_day_sum_5
watch_day_sum_6
watch_day_sum_7

In [ ]:
def get_metrics(test, pred):
    cm = confusion_matrix(test, pred)

    TN = cm[0][0]
    FP = cm[0][1]
    FN = cm[1][0]
    TP = cm[1][1]

    sensitivity = float(TP) / float(TP + FN)
    specificity = float(TN) / float(TN + FP)

    accuracy = accuracy_score(test, pred)
    fone_score = f1_score(test, pred)

    return (cm, sensitivity, specificity, accuracy, fone_score)

def score(params):
    print "Training with params {0}: ".format(score.iteration)
    print params
    
    score.iteration += 1
    
    num_round = 4000
    
    dtrain = xgb.DMatrix(X_train, label=y_train)
    dtest = xgb.DMatrix(X_test, label=y_test)

    model = xgb.train(params, dtrain, num_round, verbose_eval=1000)
    
    predictions_test = model.predict(dtest)

    auc_score_test = roc_auc_score(y_test, predictions_test)
    y_pred_test = [0 if pred <= 0.5 else 1 for pred in predictions_test]

    cm_test, sensitivity_test, specificity_test, accuracy_test, fone_score_test = get_metrics(y_test, y_pred_test)
    
    print "\t Testing: Confusion Matrix \n{0}\n\n".format(cm_test)
    print "\t Testing: Score on {0}\n\n".format(1 - auc_score_test)
    print "\t Testing: Sensitivity {0}, Specificity {1}, Accuracy Score {2}, ROC AUC Score {3}, F1 Score {4}\n\n".format(
        sensitivity_test, specificity_test, accuracy_test, auc_score_test, fone_score_test
    )

    return {'loss': 1 - auc_score_test, 'status': STATUS_OK}

def optimize(trials):
    space = {
        'n_estimators' : hp.choice('n_estimators', np.arange(100, 5000, dtype=int)),
        'eta' : hp.quniform('eta', 0.001, 0.2, 0.001),
        'max_depth' : hp.choice('max_depth', np.arange(3, 10, dtype=int)),
        'min_child_weight' : hp.choice('min_child_weight', np.arange(1, 8, dtype=int)),
        'subsample' : hp.quniform('subsample', 0.5, 1, 0.01),
        'gamma' : hp.quniform('gamma', 0.0, 1, 0.05),
        'colsample_bytree' : hp.quniform('colsample_bytree', 0.5, 1, 0.01),
        'objective': 'binary:logistic',
        'eval_metric': 'auc',
        'scale_pos_weight': hp.quniform('scale_pos_weight', 0, 20, 0.05),
        'nthread' : 6,
        'silent' : 0
    }
    
    score.iteration = 1

    best = fmin(score, space, algo=tpe.suggest, trials=trials, max_evals=200)

    print best
    return best

trials = Trials()
best = optimize(trials)

In [13]:
training_rounds = 4000
params = {
    'colsample_bytree': 0.92,
    'silent': 0,
    'eval_metric': 'auc',
    'scale_pos_weight': 4.25,
    'nthread': 6,
    'min_child_weight': 7,
    'n_estimators': 8646,
    'subsample': 0.58,
    'eta': 0.019,
    'objective': 'binary:logistic',
    'max_depth': 4,
    'gamma': 0.25
}

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=RANDOM_STATE)

d_train = xgb.DMatrix(X_train, label=y_train)
d_test = xgb.DMatrix(X_test, label=y_test)

watchlist = [(d_train, 'train'), (d_test, 'valid')]

model = xgb.train(params, d_train, training_rounds, watchlist, early_stopping_rounds=50, verbose_eval=10)

[0]	train-auc:0.781202	valid-auc:0.776699
Multiple eval metrics have been passed: 'valid-auc' will be used for early stopping.

Will train until valid-auc hasn't improved in 50 rounds.
[10]	train-auc:0.801492	valid-auc:0.794122
[20]	train-auc:0.802037	valid-auc:0.793955
[30]	train-auc:0.802813	valid-auc:0.794792
[40]	train-auc:0.804059	valid-auc:0.795349
[50]	train-auc:0.805695	valid-auc:0.796805
[60]	train-auc:0.806883	valid-auc:0.797987
[70]	train-auc:0.808252	valid-auc:0.799111
[80]	train-auc:0.809315	valid-auc:0.799819
[90]	train-auc:0.810214	valid-auc:0.800584
[100]	train-auc:0.810995	valid-auc:0.801176
[110]	train-auc:0.811702	valid-auc:0.801722
[120]	train-auc:0.812524	valid-auc:0.802238
[130]	train-auc:0.8133	valid-auc:0.80262
[140]	train-auc:0.813986	valid-auc:0.802999
[150]	train-auc:0.814736	valid-auc:0.803497
[160]	train-auc:0.815401	valid-auc:0.803875
[170]	train-auc:0.816083	valid-auc:0.804249
[180]	train-auc:0.816722	valid-auc:0.804632
[190]	train-auc:0.817406	valid-auc:0.805098
[200]	train-auc:0.818012	valid-auc:0.805444
[210]	train-auc:0.818581	valid-auc:0.805834
[220]	train-auc:0.819158	valid-auc:0.806104
[230]	train-auc:0.819669	valid-auc:0.806393
[240]	train-auc:0.820195	valid-auc:0.806631
[250]	train-auc:0.820675	valid-auc:0.806828
[260]	train-auc:0.821147	valid-auc:0.807119
[270]	train-auc:0.821627	valid-auc:0.807296
[280]	train-auc:0.822108	valid-auc:0.807503
[290]	train-auc:0.822509	valid-auc:0.807695
[300]	train-auc:0.823036	valid-auc:0.807864
[310]	train-auc:0.823479	valid-auc:0.80803
[320]	train-auc:0.823918	valid-auc:0.808143
[330]	train-auc:0.824319	valid-auc:0.808254
[340]	train-auc:0.824708	valid-auc:0.808387
[350]	train-auc:0.825135	valid-auc:0.808578
[360]	train-auc:0.825535	valid-auc:0.80869
[370]	train-auc:0.825889	valid-auc:0.8088
[380]	train-auc:0.826255	valid-auc:0.808911
[390]	train-auc:0.826576	valid-auc:0.809003
[400]	train-auc:0.826935	valid-auc:0.809026
[410]	train-auc:0.827324	valid-auc:0.809175
[420]	train-auc:0.827662	valid-auc:0.809259
[430]	train-auc:0.828009	valid-auc:0.809322
[440]	train-auc:0.828385	valid-auc:0.809366
[450]	train-auc:0.828677	valid-auc:0.809466
[460]	train-auc:0.829034	valid-auc:0.809526
[470]	train-auc:0.829364	valid-auc:0.809577
[480]	train-auc:0.829674	valid-auc:0.809641
[490]	train-auc:0.829967	valid-auc:0.809687
[500]	train-auc:0.830273	valid-auc:0.809715
[510]	train-auc:0.830586	valid-auc:0.80975
[520]	train-auc:0.830896	valid-auc:0.809789
[530]	train-auc:0.831202	valid-auc:0.809873
[540]	train-auc:0.831499	valid-auc:0.809908
[550]	train-auc:0.831843	valid-auc:0.809925
[560]	train-auc:0.832162	valid-auc:0.810007
[570]	train-auc:0.832388	valid-auc:0.81003
[580]	train-auc:0.832676	valid-auc:0.810062
[590]	train-auc:0.83299	valid-auc:0.810118
[600]	train-auc:0.833248	valid-auc:0.810117
[610]	train-auc:0.83352	valid-auc:0.810115
[620]	train-auc:0.833775	valid-auc:0.810137
[630]	train-auc:0.834033	valid-auc:0.810119
[640]	train-auc:0.834323	valid-auc:0.810121
[650]	train-auc:0.834616	valid-auc:0.810139
[660]	train-auc:0.834904	valid-auc:0.810199
[670]	train-auc:0.835173	valid-auc:0.810233
[680]	train-auc:0.835396	valid-auc:0.810257
[690]	train-auc:0.835671	valid-auc:0.810337
[700]	train-auc:0.835953	valid-auc:0.810367
[710]	train-auc:0.836201	valid-auc:0.81036
[720]	train-auc:0.83647	valid-auc:0.810388
[730]	train-auc:0.836726	valid-auc:0.8104
[740]	train-auc:0.837017	valid-auc:0.810442
[750]	train-auc:0.837298	valid-auc:0.810479
[760]	train-auc:0.837521	valid-auc:0.810512
[770]	train-auc:0.837742	valid-auc:0.810557
[780]	train-auc:0.838022	valid-auc:0.8106
[790]	train-auc:0.838323	valid-auc:0.810622
[800]	train-auc:0.838507	valid-auc:0.810664
[810]	train-auc:0.838757	valid-auc:0.810665
[820]	train-auc:0.83904	valid-auc:0.810699
[830]	train-auc:0.839284	valid-auc:0.810752
[840]	train-auc:0.839633	valid-auc:0.810771
[850]	train-auc:0.83989	valid-auc:0.81075
[860]	train-auc:0.840135	valid-auc:0.810761
[870]	train-auc:0.840376	valid-auc:0.810776
[880]	train-auc:0.840603	valid-auc:0.81076
Stopping. Best iteration:
[838]	train-auc:0.839571	valid-auc:0.810786

In [15]:
def importance_XGB(clf):
    impdf = []
    for ft, score in clf.get_fscore().iteritems():
        impdf.append({'feature': ft, 'importance': score})
    impdf = pd.DataFrame(impdf)
    impdf = impdf.sort_values(by='importance', ascending=False).reset_index(drop=True)
    impdf['importance'] /= impdf['importance'].sum()

    return impdf

feature_importance = importance_XGB(model)
feature_importance

              feature              importance
0       Cricket_genre  0.06882453151618399267
1      TalkShow_genre  0.05195911413969335479
2         Drama_genre  0.04548551959114139481
3       Romance_genre  0.03517887563884156826
4        Family_genre  0.03194207836456558480
5     watch_day_sum_7  0.02546848381601362829
6        Action_genre  0.02487223168654173824
7        Comedy_genre  0.02487223168654173824
8     watch_day_sum_2  0.02453151618398637102
9   watch_hour_sum_23  0.02410562180579216285
10    watch_day_sum_3  0.02333901192504259092
11      Reality_genre  0.02299829642248722369
12  watch_hour_sum_15  0.02001703577512776999
13       LiveTV_genre  0.01984667802385008464
14    watch_day_sum_4  0.01984667802385008464
15  watch_hour_sum_19  0.01967632027257240276
16    watch_day_sum_6  0.01942078364565587648
17       titles_count  0.01933560477001703554
18  watch_hour_sum_22  0.01873935264054514549
19  watch_hour_sum_12  0.01865417376490630455
20  watch_hour_sum_17  0.01865417376490630455
21         time_spent  0.01856899488926746014
22  watch_hour_sum_14  0.01839863713798977826
23  watch_hour_sum_20  0.01822827938671209638
24    watch_day_sum_5  0.01788756388415672915
25   watch_hour_sum_0  0.01763202725724020287
26  watch_hour_sum_16  0.01754684838160136193
27  watch_hour_sum_11  0.01729131175468483911
28  watch_hour_sum_18  0.01703577512776831282
29    watch_day_sum_1  0.01703577512776831282
..                ...                     ...
32     Football_genre  0.01388415672913117550
33    Mythology_genre  0.01388415672913117550
34  watch_hour_sum_21  0.01337308347529812640
35   watch_hour_sum_9  0.01328790459965928372
36   watch_hour_sum_8  0.01175468483816013640
37     Thriller_genre  0.01149914821124361185
38        Crime_genre  0.01141396933560476917
39       cities_count  0.01115843270868824462
40       Awards_genre  0.01107325383304940368
41   watch_hour_sum_7  0.01013628620102214641
42   watch_hour_sum_1  0.00936967632027257274
43   watch_hour_sum_3  0.00919931856899488913
44         Kids_genre  0.00911413969335604819
45   watch_hour_sum_2  0.00894378194207836458
46   watch_hour_sum_4  0.00800681431005110730
47   watch_hour_sum_5  0.00681431005110732547
48       Travel_genre  0.00681431005110732547
49        Sport_genre  0.00664395229982964186
50       Horror_genre  0.00630323679727427637
51      Kabaddi_genre  0.00562180579216354365
52   watch_hour_sum_6  0.00536626916524701909
53          tod_count  0.00485519591141396912
54    Badminton_genre  0.00434412265758092001
55         Teen_genre  0.00434412265758092001
56       genres_count  0.00425894378194207820
57     Wildlife_genre  0.00417376490630323640
58      Science_genre  0.00391822827938671184
59       Hockey_genre  0.00229982964224872228
60          dow_count  0.00161839863713798978
61  Documentary_genre  0.00034071550255536625

[62 rows x 2 columns]

In [16]:
P_Ytest = xgb.DMatrix(X_test)
P_Test = model.predict(P_Ytest)

P_Test

array([ 0.04110503,  0.04352903,  0.12215872, ...,  0.02468857,
        0.24739006,  0.03557092], dtype=float32)

In [17]:
from sklearn.metrics import roc_auc_score

roc_auc_score(y_test, P_Test)

0.81075758924136654

### Test the model

In [18]:
df_test_dropped.head()

,Action_genre,Athletics_genre,Awards_genre,Badminton_genre,Boxing_genre,Comedy_genre,Cricket_genre,Crime_genre,Documentary_genre,Drama_genre,...,watch_hour_sum_7,watch_hour_sum_8,watch_hour_sum_9,watch_day_sum_1,watch_day_sum_2,watch_day_sum_3,watch_day_sum_4,watch_day_sum_5,watch_day_sum_6,watch_day_sum_7
0,NaN,NaN,NaN,NaN,NaN,NaN,702.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,182.0,NaN,701.0,NaN,NaN,NaN
1,3501.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,4830.0,8359.0,3078.0,4185.0,2946.0,NaN,451.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,508.0,5409.0,740.0,NaN,1162.0,NaN,3807.0,2755.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6459.0,...,NaN,NaN,NaN,3227.0,NaN,2043.0,NaN,NaN,NaN,1464.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1204.0,...,NaN,NaN,NaN,1204.0,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
P_X = df_test_dropped.copy()

del P_X['id']

P_X

,Action_genre,Athletics_genre,Awards_genre,Badminton_genre,Boxing_genre,Comedy_genre,Cricket_genre,Crime_genre,Documentary_genre,Drama_genre,...,watch_hour_sum_7,watch_hour_sum_8,watch_hour_sum_9,watch_day_sum_1,watch_day_sum_2,watch_day_sum_3,watch_day_sum_4,watch_day_sum_5,watch_day_sum_6,watch_day_sum_7
0,NaN,NaN,NaN,NaN,NaN,NaN,702.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,182.0,NaN,701.0,NaN,NaN,NaN
1,3501.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,4830.0,8359.0,3078.0,4185.0,2946.0,NaN,451.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,508.0,5409.0,740.0,NaN,1162.0,NaN,3807.0,2755.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6459.0,...,NaN,NaN,NaN,3227.0,NaN,2043.0,NaN,NaN,NaN,1464.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1204.0,...,NaN,NaN,NaN,1204.0,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,93.0,NaN,362.0,NaN,NaN,NaN,NaN,NaN
6,37.0,NaN,NaN,NaN,NaN,4226.0,6511.0,29078.0,NaN,838.0,...,NaN,NaN,1393.0,615.0,5356.0,4603.0,8426.0,13665.0,16141.0,12040.0
7,22.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,308.0,...,NaN,NaN,NaN,NaN,52.0,NaN,NaN,NaN,351.0,256.0
8,NaN,NaN,NaN,NaN,NaN,NaN,28686.0,NaN,NaN,67.0,...,NaN,NaN,NaN,4432.0,5568.0,284.0,8747.0,3355.0,3055.0,3359.0
9,5740.0,NaN,532.0,NaN,NaN,4788.0,8961.0,NaN,193.0,5507.0,...,NaN,297.0,NaN,8324.0,7631.0,1423.0,5556.0,963.0,9241.0,4925.0
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,763.0,NaN,NaN,NaN
11,NaN,NaN,29.0,NaN,NaN,1359.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,104.0,1041.0,182.0,84.0,NaN,684.0,29.0
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,57892.0,NaN,22.0,...,2238.0,1302.0,NaN,20686.0,5516.0,1541.0,6143.0,6784.0,535.0,16861.0
13,3.0,NaN,398.0,NaN,NaN,102.0,NaN,NaN,NaN,45.0,...,NaN,NaN,NaN,337.0,NaN,NaN,NaN,NaN,398.0,6526.0
14,23.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37102.0,...,NaN,NaN,1310.0,15460.0,15635.0,5720.0,11179.0,5833.0,13375.0,2237.0
15,142.0,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,10.0,...,NaN,NaN,446.0,19663.0,2313.0,2933.0,2697.0,1071.0,8665.0,9937.0
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,155.0,NaN,NaN,155.0,NaN,718.0,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,6342.0,...,2321.0,NaN,NaN,38.0,1083.0,2382.0,2909.0,NaN,1016.0,590.0
18,188.0,NaN,NaN,NaN,NaN,2517.0,2788.0,5299.0,NaN,67513.0,...,14351.0,3586.0,1257.0,8517.0,14960.0,10245.0,9770.0,14253.0,11641.0,13273.0
19,NaN,NaN,NaN,NaN,NaN,885.0,NaN,NaN,NaN,221.0,...,NaN,NaN,191.0,NaN,NaN,NaN,NaN,NaN,2297.0,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,58070.0,...,NaN,4399.0,3675.0,39326.0,19170.0,25698.0,15342.0,25736.0,34442.0,31234.0
21,NaN,NaN,NaN,NaN,NaN,NaN,2780.0,NaN,NaN,NaN,...,NaN,NaN,39.0,NaN,67.0,2476.0,2918.0,NaN,66.0,170.0
22,179.0,NaN,NaN,NaN,NaN,31.0,243.0,NaN,NaN,314.0,...,NaN,NaN,NaN,195.0,619.0,51.0,NaN,162.0,66.0,NaN
23,NaN,NaN,NaN,NaN,NaN,2494.0,19725.0,846.0,NaN,349.0,...,NaN,NaN,NaN,2070.0,973.0,4823.0,745.0,3541.0,5785.0,7135.0
24,NaN,NaN,NaN,NaN,NaN,NaN,2778.0,942.0,NaN,91.0,...,NaN,NaN,NaN,7.0,NaN,7.0,960.0,18.0,151.0,2715.0
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1285.0,...,NaN,NaN,NaN,14.0,NaN,2142.0,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,1184.0,NaN,NaN,NaN,...,NaN,NaN,NaN,70.0,NaN,22.0,1073.0,96.0,NaN,18.0
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,466.0,NaN,1455.0,NaN,1422.0,492.0,1411.0,NaN,437.0
28,53.0,NaN,NaN,NaN,NaN,0.0,26622.0,NaN,NaN,241.0,...,NaN,NaN,NaN,745.0,NaN,9872.0,11496.0,1179.0,1398.0,2224.0
29,NaN,NaN,NaN,NaN,NaN,NaN,7708.0,NaN,NaN,305.0,...,NaN,NaN,43.0,65.0,NaN,NaN,6870.0,2.0,1076.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99970,NaN,NaN,NaN,NaN,NaN,NaN,1987.0,NaN,NaN,1550.0,...,23.0,NaN,NaN,NaN,NaN,NaN,3549.0,23.0,1697.0,NaN
99971,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,240.0,NaN,NaN,NaN,NaN
99972,69.0,NaN,NaN,NaN,NaN,NaN,322.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,87.0,NaN,NaN,304.0,NaN
99973,NaN,NaN,NaN,NaN,NaN,NaN,10820.0,NaN,NaN,NaN,...,4.0,NaN,NaN,1294.0,76.0,NaN,35.0,4288.0,1779.0,3351.0
99974,17.0,NaN,NaN,NaN,NaN,30.0,45.0,NaN,NaN,476.0,...,45.0,NaN,4433.0,4699.0,NaN,NaN,NaN,NaN,NaN,3917.0
99975,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9747.0,...,NaN,NaN,NaN,NaN,33.0,3335.0,3172.0,3938.0,2097.0,NaN
99976,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11446.0,NaN,NaN,...,NaN,NaN,NaN,5425.0,573.0,2154.0,NaN,NaN,2713.0,6006.0
99977,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,786.0,...,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,1968.0,NaN
99978,NaN,NaN,NaN,NaN,NaN,NaN,840.0,NaN,NaN,12.0,...,NaN,NaN,NaN,12.0,NaN,NaN,NaN,839.0,NaN,NaN
99979,NaN,NaN,NaN,NaN,NaN,NaN,3011.0,NaN,NaN,7002.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7150.0,3074.0,NaN
99980,NaN,NaN,NaN,NaN,NaN,NaN,9.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,35.0,NaN,NaN,NaN,NaN
99981,NaN,NaN,NaN,NaN,NaN,NaN,371.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,433.0,NaN,NaN
99982,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1159.0,NaN,NaN,NaN,11069.0
99983,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2987.0,2067.0,1958.0,NaN
99984,NaN,NaN,NaN,NaN,NaN,NaN,6094.0,325.0,NaN,7.0,...,NaN,NaN,NaN,NaN,NaN,5963.0,462.0,NaN,NaN,NaN
99985,NaN,NaN,76.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,8.0,76.0,54.0,NaN,NaN,NaN
99986,NaN,NaN,NaN,NaN,NaN,NaN,7722.0,5.0,NaN,NaN,...,NaN,1117.0,77.0,NaN,NaN,314.0,199.0,2493.0,2855.0,1867.0
99987,NaN,NaN,NaN,NaN,NaN,NaN,12699.0,NaN,NaN,NaN,...,NaN,NaN,NaN,2750.0,1450.0,3.0,3293.0,165.0,2208.0,2876.0
99988,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,803.0,...,NaN,NaN,NaN,NaN,NaN,NaN,803.0,NaN,NaN,NaN
99989,NaN,NaN,NaN,NaN,NaN,NaN,5.0,1025.0,NaN,7747.0,...,1092.0,NaN,584.0,NaN,2996.0,2268.0,1270.0,1215.0,444.0,584.0
99990,NaN,NaN,NaN,NaN,NaN,NaN,33.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1369.0,NaN
99991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,966.0,...,NaN,NaN,NaN,867.0,NaN,3928.0,NaN,NaN,1900.0,959.0
99992,NaN,NaN,NaN,NaN,NaN,NaN,18272.0,NaN,NaN,7.0,...,NaN,NaN,NaN,3252.0,2812.0,6212.0,2422.0,2320.0,918.0,373.0
99993,NaN,NaN,NaN,NaN,NaN,NaN,49.0,24.0,NaN,NaN,...,NaN,NaN,NaN,43.0,NaN,NaN,24.0,6.0,75.0,NaN
99994,317.0,NaN,NaN,NaN,NaN,NaN,14302.0,NaN,NaN,NaN,...,NaN,NaN,NaN,2278.0,4030.0,3305.0,811.0,NaN,2980.0,1213.0
99995,NaN,NaN,NaN,NaN,NaN,NaN,1039.0,NaN,NaN,1503.0,...,NaN,NaN,NaN,3622.0,1594.0,541.0,1171.0,1263.0,5722.0,3427.0
99996,NaN,NaN,NaN,NaN,NaN,NaN,8978.0,NaN,NaN,NaN,...,NaN,NaN,66.0,NaN,659.0,2406.0,3804.0,2.0,1464.0,645.0
99997,NaN,NaN,NaN,NaN,NaN,NaN,11286.0,NaN,NaN,NaN,...,NaN,NaN,NaN,4299.0,7.0,1070.0,2388.0,1479.0,3.0,2052.0
99998,NaN,NaN,NaN,NaN,NaN,NaN,18987.0,NaN,NaN,NaN,...,580.0,NaN,NaN,2605.0,3281.0,2540.0,8363.0,2276.0,NaN,25.0
99999,NaN,NaN,NaN,NaN,NaN,1066.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1066.0,NaN,NaN,NaN,NaN,NaN

In [20]:
P_Ytest = xgb.DMatrix(P_X)
P_Test = model.predict(P_Ytest)

P_Test

array([ 0.0871945 ,  0.26494449,  0.50121301, ...,  0.02579476,
        0.04531092,  0.22932629], dtype=float32)

In [21]:
results = pd.DataFrame()
results['ID'] = df_test_dropped['id']

results['segment'] = P_Test

results.info()

results.to_csv(
    os.path.join(DATA_DIR, 'predict_segment_30_06_2017.csv'),
    index=False
)

results

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 2 columns):
ID         100000 non-null object
segment    100000 non-null float32
dtypes: float32(1), object(1)
memory usage: 1.1+ MB

                ID                 segment
0           test-1  0.08719450235366821289
1          test-10  0.26494449377059936523
2         test-100  0.50121301412582397461
3        test-1000  0.47043484449386596680
4       test-10000  0.39269906282424926758
5      test-100000  0.20152796804904937744
6       test-10001  0.08996385335922241211
7       test-10002  0.24716423451900482178
8       test-10003  0.02320878580212593079
9       test-10004  0.07841690629720687866
10      test-10005  0.15637798607349395752
11      test-10006  0.19474937021732330322
12      test-10007  0.35970512032508850098
13      test-10008  0.30263856053352355957
14      test-10009  0.46804857254028320312
15       test-1001  0.73712128400802612305
16      test-10010  0.40406018495559692383
17      test-10011  0.32403510808944702148
18      test-10012  0.11749785393476486206
19      test-10013  0.20481443405151367188
20      test-10014  0.51219230890274047852
21      test-10015  0.08341953158378601074
22      test-10016  0.05128651112318038940
23      test-10017  0.03099638968706130981
24      test-10018  0.03235989436507225037
25      test-10019  0.52807962894439697266
26       test-1002  0.05076391249895095825
27      test-10020  0.41507583856582641602
28      test-10021  0.03502923995256423950
29      test-10022  0.04235984012484550476
...            ...                     ...
99970   test-99972  0.18300016224384307861
99971   test-99973  0.10488498210906982422
99972   test-99974  0.06918189674615859985
99973   test-99975  0.03467267751693725586
99974   test-99976  0.17292727530002593994
99975   test-99977  0.65072762966156005859
99976   test-99978  0.34755912423133850098
99977   test-99979  0.38154143095016479492
99978    test-9998  0.07392162829637527466
99979   test-99980  0.12974673509597778320
99980   test-99981  0.05328092724084854126
99981   test-99982  0.06780071556568145752
99982   test-99983  0.30430427193641662598
99983   test-99984  0.25192365050315856934
99984   test-99985  0.04170240089297294617
99985   test-99986  0.15007685124874114990
99986   test-99987  0.02404980175197124481
99987   test-99988  0.03264356404542922974
99988   test-99989  0.37946873903274536133
99989    test-9999  0.28403070569038391113
99990   test-99990  0.17907975614070892334
99991   test-99991  0.61233103275299072266
99992   test-99992  0.03366648033261299133
99993   test-99993  0.08189880847930908203
99994   test-99994  0.03184600919485092163
99995   test-99995  0.24388772249221801758
99996   test-99996  0.03155739977955818176
99997   test-99997  0.02579476125538349152
99998   test-99998  0.04531091824173927307
99999   test-99999  0.22932629287242889404

[100000 rows x 2 columns]